.html-fixed,
.page-docs {
	height: 100%;
	min-height: 100%;
	@include tablet {
		overflow: hidden;
	}
}

.page-docs {
	display: flex;
	flex-direction: column;
	@include tablet {
		.docs-layout {
			flex: 1 1 auto;
			overflow: hidden;
			margin: 0;
			width: 100%;
			.docs-column {
				overflow-y: auto;
			}
		}
	}
	.header {
		flex: 0 0 auto;
		border-bottom: 1px solid $border-color;
	}
	.footer {
		flex: 0 0 auto;
	}
	.docs-nav {
		background: $light;
		border-right: 1px solid $border-color;
		padding: 0;
		
		.tabs.is-toggle {
			margin-bottom: 0;
			ul {
				margin: 0;
				padding: 0 1rem;
			}
		}
	}
	.docs-content {
		padding-left: 5vw;
		padding-right: 5vw;
		>h1 {
			border-bottom: 1px solid $border-color;
			padding-bottom: 1.5rem;
			margin-bottom: 2rem;
		}
		ul ul,
		ol ul {
			margin-bottom: 0;
		}
	}
	.menu {
		ul {
			list-style: none;
		}

		.menu-list {
			> li > ul {
				display: none;
			}

			> li.is-active > ul {
				display: block;
			}

			li {
				padding-top: 0.1rem;
				padding-bottom: 0.1rem;
			}

			// For desktop views, 
			@media screen and (min-width: 768px) {
				ul  {
					font-size: 90%;
				}
			}

			ul  {
				margin-bottom: 0;
			}

			> li > ul {
				margin-top: 0.5rem;

				ul {
					margin-top: 0.25rem;
				}
			}

			a {
				padding-top: 0.25em;
				padding-bottom: 0.25em;
			}
		}

		.field {
			margin: 0.5em 1.5em;

			.select {
				width: 100%;

				select {
					width: 100%;
				}
			}
		}
	}
	.version-select {
		display: none;
	}
	.multi-version .version-select {
		display: block;
	}

	blockquote.warning,
	blockquote.info,
	blockquote.deprecated {
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		padding-left: 0;

		div {
			flex-grow: 0;
			flex-shrink: 0;
			width: 60px;
			text-align: center;

			.fa {
				font-size: 1.5em;
			}
		}

		p {
			flex: 0 1 auto;
		}
	}
	blockquote.warning .fa {
		color: $warning-highlight;
	}
	blockquote.info .fa {
		color: $info-highlight;
	}
	blockquote.deprecated .fa {
		color: $deprecated-highlight;
	}

	table {
		th {
			background: $table-border;
			border-color: $light;
		}
	}
}

.no-script {
	.docs-nav {
		display: none;
	}

	.docs-content {
		margin-left: auto;
		margin-right: auto;
		max-width: 50rem;
	}
}

.coming-soon {
	max-width: 300px;
}
