.html-fixed,
.page-docs {
	height: 100%;
	min-height: 100%;
	@include tablet {
		overflow: hidden;
	}
}

.page-docs {
	display: flex;
	flex-direction: column;
	@include tablet {
		.docs-layout {
			flex: 1 1 auto;
			overflow: hidden;
			margin: 0;
			width: 100%;
			.docs-column {
				overflow-y: auto;
			}
		}
	}
	.header {
		flex: 0 0 auto;
		border-bottom: 1px solid $border-color;
	}
	.footer {
		flex: 0 0 auto;
	}
	.docs-nav {
		background: $light;
		border-right: 1px solid $border-color;
		padding: 0;
		
		.tabs.is-toggle {
			margin-bottom: 0;
			ul {
				margin: 0;
				padding: 0 1rem;
			}
		}
	}
	.docs-content {
		position: relative;
		padding-left: 5vw;
		padding-right: 5vw;
		>h1 {
			border-bottom: 1px solid $border-color;
			padding-bottom: 1.5rem;
			margin-bottom: 2rem;
		}
		ul ul,
		ol ul,
		code {
			margin-bottom: 0;
		}
	}
	.menu {
		ul {
			list-style: none;
			margin-bottom: 0;
		}

		.menu-list {
			> li > ul {
				display: none;
			}

			> li.is-active-page > ul {
				display: block;
			}

			li {
				padding-top: 0.1rem;
				padding-bottom: 0.1rem;
			}

			// For desktop views, 
			@media screen and (min-width: 768px) {
				ul  {
					font-size: 90%;
				}
			}

			ul  {
				margin-bottom: 0;
			}

			> li > ul {
				margin-top: 0.5rem;

				ul {
					margin-top: 0.25rem;
				}
			}

			a {
				padding-top: 0.25em;
				padding-bottom: 0.25em;
				text-overflow: ellipsis;
				overflow: hidden;
			}
		}

		.field {
			margin: 0.75rem 1rem;

			.select {
				width: 100%;

				select {
					width: 100%;
				}
			}
		}

		@media screen and (max-width: 768px) {
			.field {
				margin-left: 1.5rem;
				margin-right: 1.5rem;
			}
		}

		.version-selector {
			display: none;
		}

	}

	.search-dropdown {
		margin-right: 4px;

		.search-field {
			input {
				box-shadow: none;
				border-right: none;
				border-color: $primary;
			}
			.control .button {
				border-left: none;
				border-color: $primary;
				color: $secondary;
				// width matches padding in select dropdown
				width: 2.5em;
			}
		}

		.dropdown-content {
			max-height: 40vw;
			overflow: auto;
		}

		.menu-list {
			margin: 0;

			> li > ul {
				display: block;
			}
		}

		.no-results {
			color: $secondary;
		}
	}

	blockquote.warning,
	blockquote.info,
	blockquote.deprecated {
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		padding-left: 0;

		div {
			flex-grow: 0;
			flex-shrink: 0;
			width: 60px;
			text-align: center;

			.fa {
				font-size: 1.5em;
			}
		}

		p {
			flex: 0 1 auto;
		}
	}
	blockquote.warning .fa {
		color: $warning-highlight;
	}
	blockquote.info .fa {
		color: $info-highlight;
	}
	blockquote.deprecated .fa {
		color: $deprecated-highlight;
	}

	table {
		th {
			background: $table-border;
			border-color: $light;
		}
	}

	.docset-selector {
		margin-bottom: 0.5rem;
		box-shadow: none;
		border-color: $border-color;

		.card-header {
			cursor: pointer;
			box-shadow: none;

			padding-left: 0.25rem;
			padding-right: 0.25rem;
		}

		@media screen and (max-width: 768px) {
			.card-header {
				// These offset the negative padding from .columns
				padding-left: 0.75rem;
				padding-right: 0.75rem;
			}
		}

		.card-header-title {
			font-weight: normal;

			.version {
				display: none;

				&::before {
					content: 'v';
					margin-left: 0.4em;
				}
			}
		}

		.card-content {
			max-height: 0;
			border-bottom: solid 1px $border-color;
			transition: max-height 0.25s ease;
			transition: padding 0.25s ease;
			padding: 0;
			overflow: auto;
		}

		&.is-active .card-content {
			max-height: 7rem;
			padding: 0 0 0.5em 0;
		}
	}

	.multi-version .menu {
		.version-selector,
		.version {
			display: block;
		}
	}

	.page-heading {
		display: flex;
		margin-bottom: 1rem;

		h1 {
			flex-grow: 1;
			margin-bottom: 0;
		}

		.icon {
			margin-top: 0.3*(0.9*$size-1);
		}
	}
}

.no-script {
	.docs-nav {
		display: none;
	}

	.docs-content {
		margin-left: auto;
		margin-right: auto;
		max-width: 50rem;
	}
}

.coming-soon {
	max-width: 300px;
}
