<footer class="footer">
	<div class="container">
		<div class="level">
			<div class="level-left">
				<div class="level-item intern-logo">
					<img src="/images/intern-logo.svg" alt="Intern logo" inline>
				</div>
				<div class="level-item">
					<span class="copyright">
						&copy; 2017 <a href="https://www.sitepen.com">SitePen, Inc.</a>
					</span>
				</div>
				<div class="level-item">
					<span>Intern is a <a href="http://js.foundation">JS Foundation</a> project.</span>
				</div>
				<div class="level-item">
					<span><a href="https://github.com/theintern/intern/blob/master/LICENSE">New BSD</a> licensed.</span>
				</div>
			</div>
			<div class="level-right">
				<div class="level-item browserstack-logo">
					Tested on <a href="https://browserstack.com" alt="BrowserStack"><img src="/images/browserstack-logo.svg" alt="BrowserStack logo" inline></a>
				</div>
			</div>
		</div>
	</div>
</footer>
