$mobile: 768px;

// Typography
$body-font: 'Source Sans Pro', sans-serif;
$body-text: #333;
$title-font: 'Zilla Slab', serif;

$code-font-size: 0.8rem;

$info-highlight: #368CF8;
$warning-highlight: #EA565E;
$deprecated-highlight: $grey-darker;
