
.menu {

	ul,
	ul li {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}


	.menu-label {
		background-color: $gray;
		color: rgba($dark-gray, 0.8);
		font-weight: 600;
		padding: 0.5em 0.75em;

		+below($tablet) {
			padding:0.5rem  1.5rem;
		}
	}

	.menu-list {
		margin: 0 1rem;

		a:not(.is-active):hover {
			background: #fff;
		}

		li ul {
			border-left: 1px solid $border-color;
		}
	}
}