.footer {
	background-color: #fff;
	border-top: 1px solid $border;
	color: $secondary;
	font-size: $size-7;
	padding: 1rem;
	line-height: normal;

	@media screen and (max-width: $mobile) {
		.level-left, .level-right {
			.level-item {
				margin-right: 0;
			}
		}
	}

	.intern-logo svg {
		@include intern-logo-size(30px);

		g {
			fill: $logo-grey;
		}
	}

	.browserstack-logo svg {
		height: 24px;
		width: 105px;
		display: block;
	}
}

.page-secondary {
	.footer {
		.container {
			max-width: 100%;
			width: 100%;
		}
	}
}
