.navbar {
	.navbar-item {
		font-family: $title-font;
		font-size: 0.85rem;
		font-weight: 500;
		text-transform: uppercase;
	}

	.navbar-brand {
		.navbar-item {
			+tablet {
				padding-left: 0;
			}
			&:hover {
				background: transparent;
			}
			img.site-logo {
				max-height: none;
			}
		}
	}

	.site-logo {
		text-transform: none;
		line-height: normal;
	}
}

/* Page specific */

@media screen and (min-width: $desktop) and (max-width: 1068px) {
	.page-home {
		header {
			.navbar {
				margin-left: 0;
				margin-right: 0;
			}
		}

		@media screen and (max-width: $desktop) {
			.navbar-menu {
				padding-bottom: 0;
			}
		}
	}
}

.page-home {
	@media screen and (max-width: $desktop) {
		.navbar-menu {
			padding-bottom: 0;
		}
	}

	.navbar-burger {
		height: auto;
	}

	.site-logo {
		> div {
			div:first-child {
				font-size: 38px;
				margin-bottom: 0;
				line-height: 38px;
			}
			div:last-child {
				font-size: 18px;
				line-height: 18px;
			}
		}

		color: $grey-darker;

		svg {
			@include intern-logo-size(60px);
			margin-right: 0.75rem;

			g {
				fill: $primary;
			}
		}
	}
}

.page-docs {
	.site-nav .navbar-item[data-doc-type='docs'] {
		background: $primary;
		color: $light;
	}

	@media screen and (max-width: $desktop) {
		.navbar-menu {
			padding-top: 0;
			padding-bottom: 0;
		}
	}

	.site-logo {
		font-size: 24px;
		color: $logo-grey;

		> div {
			div:last-child {
				display: none;
			}
		}

		&:hover {
			color: $logo-grey;
		}
		
		svg {
			@include intern-logo-size(33px);
			margin-right: 0.5rem;

			g {
				fill: $logo-grey;
			}
		}
	}
}

.page-secondary {
	.navbar {
		.navbar-brand {
			.navbar-item,
			.navbar-item:hover {
				padding-top: 0;
				padding-bottom: 0;
			}
		}
	}
}
