.navbar {
	.navbar-item {
		font-family: $title-font;
		font-size: 0.85rem;
		font-weight: 500;
		text-transform: uppercase;
	}
	.navbar-brand {
		.navbar-item {
			+tablet {
				padding-left: 0;
			}
			&:hover {
				background: transparent;
			}
			img.site-logo {
				max-height: none;
			}
		}
	}
}


/* Page specific */

@media screen and (min-width: $desktop) and (max-width: 1068px) {
	.page-home {
		header {
			.navbar {
				margin-left: 0;
				margin-right: 0;
			}
		}
	}
}

.page-docs {
	.site-nav .navbar-item[data-doc-type='docs'] {
		background: $primary;
		color: $light;
	}
}

.page-secondary {
	.navbar {
		.navbar-brand {
			.navbar-item,
			.navbar-item:hover {
				padding-top: 0;
				padding-bottom: 0;
			}
		}
	}
}
