
<div class="columns docs-layout">
	<div class="column is-3 docs-column docs-nav">
		<div class="field">
			<div class="control">
				<div class="select is-primary is-small">
				<select>
					<option>Select dropdown</option>
					<option>With options</option>
				</select>
				</div>
			</div>
		</div>
		<aside class="menu">
			<p class="menu-label">
				General
			</p>
			<ul class="menu-list">
				<li><a>Dashboard</a></li>
				<li><a>Customers</a></li>
			</ul>
			<p class="menu-label">
				Administration
			</p>
			<ul class="menu-list">
				<li><a>Team Settings</a></li>
				<li>
					<a class="is-active">Manage Your Team</a>
					<ul>
						<li><a>Members</a></li>
						<li><a>Plugins</a></li>
						<li><a>Add a member</a></li>
					</ul>
				</li>
				<li><a>Invitations</a></li>
				<li><a>Cloud Storage Environment Settings</a></li>
				<li><a>Authentication</a></li>
			</ul>
			<p class="menu-label">
				Transactions
			</p>
			<ul class="menu-list">
				<li><a>Payments</a></li>
				<li><a>Transfers</a></li>
				<li><a>Balance</a></li>
			</ul>
		</aside>
	</div>
	<div class="column is-9 docs-column docs-content">
		<h1>Cool new feature!</h1>
		<div class="columns align-center">
			<div class="column is-6">
				<h1 class="title is-3 is-spaced">Coming Soon</h1>
				<h2 class="subtitle is-6">The Intern is busy making some fresh coffee but will have this ready soon!</h2>
			</div>
			<div class="column is-4">
				<img src="/images/coming-soon.svg" alt="Coming Soon" class="coming-soon">
			</div>
		</div>
	</div>
</div>

