.html-fixed,
.page-docs {
  height:100%;
  min-height:100%;
  overflow: hidden;
}


.page-docs {
	display: flex;
	flex-direction: column;

	.docs-layout {
	 	flex: 1 1 auto;
		overflow: hidden;
		margin: 0;
		width: 100%;

		.docs-column {
			overflow-y: auto;
		}
	}
		
	.header {
		flex: 0 0 auto;
		border-bottom: 1px solid $border-color;
	}

	.footer {
		flex: 0 0 auto;
	}

	.docs-nav {
		background: $light;
		border-right: 1px solid $border-color;
	}
}