.page-home {
	padding-top: 3vw;

	.hero {
		border-bottom: 1px solid $light;
		padding-top: 5vw;

		.anim {
			background: radial-gradient(30% 45%, rgba(#A2EDFD, 0.4) 51%, rgba(188,235,240,0.00) 98%) no-repeat;
			background-size: contain;
		}
	}

	.features {
		border-bottom: 1px solid $light;
	}

	.who {
		border-bottom: 1px solid $light;

		.column {
			text-align: center;

			svg {
				margin: 0 auto;
				max-width: 100%;
			}
		}
	}

	.workwith {
		.underline {
			display: inline-block;
			border-bottom: 2px solid $dark;
			width: 6rem;
		}
	}

	.docs {
		.viewGuide {
			background: radial-gradient(30% 45%, rgba(#A2EDFD, 0.4) 51%, rgba(188,235,240,0.00) 98%) no-repeat;
			background-size: contain;
			display: flex;
			flex-direction: column;
			align-items: center;
			align-content: center;
			justify-content: center;
		}
	}
}