.page-home {
	padding-top: 3vw;

	.hero {
		border-bottom: 1px solid $light;
		padding-top: 5vw;
		.button {
			box-shadow: 0 2px 2px 0 rgba(0,0,0,0.28);
			border-radius: 5px;
		}

		.anim {
			background: radial-gradient(30% 45%, rgba(#A2EDFD, 0.4) 51%, rgba(188,235,240,0.00) 98%) no-repeat;
			background-size: contain;
		}
		
	}
}