<% 
	var tutorials = data.tutorials;
	var docs = data.docs;
%>

<%
	/*_.each(site.pages.data, function(data) {
		console.log(data.layout);
	});*/
%>

<aside class="menu">
	<p class="menu-label">
		Using Intern
	</p>
	<ul class="menu-list">
		<% for(var key in docs) { %>
			<a href="<%= docs[key] %>" <% if(path.includes(docs[key])){ %> class="is-active" <% } %>> <%= key %> </a>
		<% } %>
	</ul>
	<p class="menu-label">
		Tutorials
	</p>
	<ul class="menu-list">
		<% for(var key in tutorials) { %>
			<a href="<%= tutorials[key] %>" <% if(path.includes(tutorials[key])){ %> class="is-active" <% } %>> <%= key %> </a>
		<% } %>
	</ul>
</aside>