<header class="header">
	<div class="container">
		<nav class="navbar">
			<div class="navbar-brand">
				<% var suffix = pageType === 'docs' ? '-docs' : '';  %>
				<a href="/" class="navbar-item"><img src="/images/intern-logo<%- suffix %>.svg" class="site-logo" alt="The Intern"></a>
				<div class="navbar-burger" data-target="intern-nav">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
			<div class="navbar-menu">
				<div class="navbar-start"></div>
				<div class="navbar-end">
					<% if (pageType !== 'docs') { %>
					<a class="navbar-item" href="/docs.html">Docs</a>
					<% } %>
					<a class="navbar-item" href="https://github.com/theintern/intern" data-title="Github">Github</a>
					<div class="dropdown is-right search-dropdown is-hidden-touch">
						<a class="navbar-item dropdown-trigger" data-title="Search" aria-haspopup="true" aria-controls="search-box">Search</a>
						<div class="dropdown-menu" id="search-box" role="menu">
							<div class="dropdown-content">
								<div class="dropdown-item">
									<div class="field search-field has-addons">
										<div class="control is-expanded">
											<input class="input is-small" type="text" placeholder="Search">
										</div>
										<div class="control">
											<a class="button is-small" title="Clear search results">
												<span class="icon is-small"><i class="fa fa-close"></i></span>
											</a>
										</div>
									</div>
								</div>
								<div class="dropdown-item menu">
									<ul class="search-results menu-list">
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</div>

	<script>
	(function () {
		var navBurger = document.querySelector('.header .navbar-burger');
		var navMenu = document.querySelector('.header .navbar-menu');
		navBurger.addEventListener('click', function () {
			navBurger.classList.toggle('is-active');
			navMenu.classList.toggle('is-active');
		});
	})();
	</script>
</header>
