.navbar {
	.navbar-item {
		font-family: $title-font;
		font-size: 0.85rem;
		font-weight: 500;
		text-transform: uppercase;
	}
	.navbar-brand {
		.navbar-item {
			+tablet {
				padding-left: 0;
			}
			&:hover {
				background: transparent;
			}
			img.site-logo {
				max-height: none;
			}
		}
	}
	.search-dropdown {
		display: none;
	}
}


/* Page specific */

.page-docs {
	.navbar-item[data-title='Docs'] {
		background: $primary;
		color: $light;
	}
	.search-dropdown {
		display: flex;
	}
}

.page-secondary {
	.navbar {
		.navbar-brand {
			.navbar-item,
			.navbar-item:hover {
				padding-top: 0;
				padding-bottom: 0;
			}
		}
	}
}
