---
layout: default.ejs
bodyClass: page-home
---
<section class="section compare is-active">
	<div class="container">
		<h1 class="title is-3">How does it compare?</h1>
		<%- include('layouts/partials/features') %>
	</div>
</section>
