body {
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 100vh;

	.title,
	.subtitle {
		font-family: 'Zilla Slab', serif;
	}

	#header,
	#footer {
		flex: none;
	}

	.main-content {
		flex: 1 0 auto;
	}
}