$bulmaPath = "../../../../node_modules/bulma.styl/stylus/";

// Colors
$primary = #30A777;
$secondary = #7C8EA1;
$grey-darker = #4A4A4A;
$dark-gray = $grey-darker;
$border-color = #E1E4E6;
$button-border-color = #C8D1D8;
$light = #FAFBFC;
$gray = #F0F2F5;
$color-inline-code = #C94169;

// Typography
$heading-weight = 500;
$heading-color = $dark-gray;
$heading-font = 'Zilla Slab', serif;

$font-mono = 'Source Code Pro', monospace;
$font-code = $font-mono;
$body-font = 'Source Sans Pro', sans-serif;


$sizes = 2.441em 1.953em 1.563em 1.25em 1.1em 1em 1em;

$mobile = 768px;
$desktop = 1199px;


// Syntax Higlighting

$code-font-size = 0.8rem;
$code-background = #f8f8f8;
$code-text-default = #333;
$code-comment-color = #998;
$code-comment-style = italic;

$code-keyword = $code-text-default;
$code-selector-tag = $code-text-default;
$code-subst = $code-text-default;

$code-number = #008080;
$code-literal = #008080;
$code-variable = #008080;
$code-template-variable = #008080;
$code-tag-attr = #008080;

$code-string = #d14;
$code-doctag = #d14;

$code-title = #900;
$code-section = #900;
$code-selector-id = #900;

$code-type = #458;
$code-class-title = #458;

$code-tag = #000080;
$code-name = #000080;
$code-attribute = #000080;

$code-regexp = #009926;
$code-link = #009926;

$code-symbol = #990073;
$code-bullet = #990073;

$code-built_in = #0086b3;
$code-builtin-name = #0086b3;
$code-meta = #999;
$code-deletion = #fdd;
$code-addition = #dfd;
$code-emphasis = italic;
$code-strong = bold;
