.page-home {
	padding-top: 3vw;
	.hero {
		border-bottom: 1px solid $border;
		padding-top: 5vw;
		.title {
			margin-bottom: 1.5rem;
		}
		.anim {
			background: radial-gradient(30% 45%, rgba(#A2EDFD, 0.4) 51%, rgba(188, 235, 240, 0.00) 98%) no-repeat;
			background-size: contain;
		}

		.button {
			margin-bottom: 1.5rem;
		}
	}
	.features {
		border-bottom: 1px solid $border;
	}
	.who {
		border-bottom: 1px solid $border;
		.column {
			text-align: center;
			svg {
				margin: 0 auto;
				max-width: 100%;
			}
		}
	}
	.workwith {
		.underline {
			display: inline-block;
			border-bottom: 2px solid $dark;
			width: 6rem;
		}
	}
	.docs {
		.viewGuide {
			background: url("/images/icon-docs.svg") no-repeat 50% 50%, radial-gradient(30% 45%, rgba(#A2EDFD, 0.4) 51%, rgba(188, 235, 240, 0.00) 98%) no-repeat;
			background-size: contain;
			display: flex;
			flex-direction: column;
			align-items: center;
			align-content: center;
			justify-content: center;
		}
	}
	.need-help {
		.button {
			min-width: 150px;
			&.gitter {
				margin-left: 0.5rem;
				margin-right: 0.5rem;
			}
		}
		.bugs {
			margin-top: 2rem;
		}
	}

	.compare {
		max-height: 0;
		transition: max-height 0.5s ease;
		overflow: hidden;

		&.is-active {
			max-height: 120rem;
		}

		table {
			margin-top: 2rem;
			width: 100%;
			table-layout: fixed;

			th {
				font-family: $title-font
			}

			th, td {
				text-overflow: ellipsis;
				overflow: hidden;
			}

			thead {
				th {
					background: $grey-dark;
					border-color: $grey-dark;
					text-align: center;
					font-size: 80%;
					a {
						color: $light;
					}
					width: 8%;
				}
				th:first-child {
					width: 28%;
				}
			}
			tbody {
				th, td {
					height: 4rem;
					vertical-align: middle;
				}
				td {
					font-size: 80%;
				}
			}
			td {
				text-align: center;
				color: $secondary;
			}
			td.yes::after,
			td.extension::after,
			td.partial::after,
			td.third-party::after {
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-decoration: inherit;
				font-size: 20px;
				top: 50%;
				left: 50%;
				z-index: 1;
			}
			td.yes::after {
				content: "\f00c"; 
			}
			td.extension::after {
				content: "\f1e6"; 
			}
			td.third-party::after {
				content: "\f08e"; 
			}
			td.partial::after {
				content: "\f089"; 
			}
			.intern {
				background: $primary;
				border-color: $primary;
				&.yes::after {
					color: $light;
				}
			}
		}

		.legend {
			margin-bottom: 1rem;
			display: flex;
			flex-direction: column;

			> div {
				display: flex;
				flex-direction: row;

				&:not(:last-child) {
					margin-bottom: 0.25rem;
				}

				> div {
					display: inline-block;

					&:first-child {
						width: 2rem;
						position: relative;

						.fa {
							position: absolute;
							top: 50%;
							transform: translateY(-50%);
						}
					}
				}
			}
		}
	}
}
