html,
body {
	@include fluid(font-size, 14px, 16px);
	font-weight: 400;
	line-height: 1.45;
	color: $text;
}

.title {
	font-family: $title-font;
	line-height: 1.2;
	margin: 1.414em 0 0.5em;

	&:first-child {
		margin-top: 0;
	}

	&:not(:last-child) {
		margin-bottom: 1rem;
	}
}

@each $size in $sizes {
	$i: index($sizes, $size);
	h#{$i} {
		@extend .title;
		font-size: $size * 0.9;
	}
}

code:not(.hljs) {
	border-radius: 3px;
	font-size: $code-font-size;
	padding: 0.1rem 0.3rem 0.2rem 0.3rem;
}

p:not(:last-child),
pre:not(:last-child),
blockquote:not(:last-child) {
	margin-bottom: 1rem;
}

pre {
	margin-top: 1rem;
}

li pre {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

ol li,
ul li {
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}

li ul,
li ol {
	margin: 0.5 1.5em;
}

ul,
ol {
	margin: 0 1rem 1rem 1rem;
}

@media screen and (max-width: 768px) {
	ul,
	ol {
		margin-left: 1.5rem;
		margin-right: 1.5rem;
	}
}

ul {
	list-style-type: disc;
}

ol {
	list-style-type: decimal;
}

ol ol {
	list-style: upper-alpha;
}

ol ol ol {
	list-style: lower-roman;
}

ol ol ol ol {
	list-style: lower-alpha;
}

dl {
	margin: 0 0 1.5em 0;
}

dl dt {
	font-weight: bold;
}

dd {
	margin-left: 1.5em;
}

h1, h2, h3, h4, h5, h6, h7 {
	margin-top: 1.25rem;
}

th {
	font-family: $title-font;
}
