// Typography
$family-serif: 'Zilla Slab', serif;
$title-font: $family-serif;
$code-font-size: 0.8rem;

// Colors
$info-highlight: #368CF8;
$warning-highlight: #EA565E;
$deprecated-highlight: $grey-darker;
$logo-grey: #9FACB5;
