<!DOCTYPE html>
<html class="html-fixed">
		<%- include('partials/head') %>
	<body class="page-docs page-secondary">
		<%- include('partials/header') %>
		<div class="columns docs-layout">
			<div class="column docs-column docs-nav">
				
			</div>
			<div class="column is-10 docs-column docs-content">
				<%- contents %>
			</div>
		</div>
		<%- include('partials/footer') %>
	</body>
</html>