@font-face {
	font-family: 'pixeden-7';
	src: url('fonts/pixeden-7.woff?35861420') format('woff');
	font-weight: normal;
	font-style: normal;
}

$icon = @block {
	font-family: 'pixeden-7';
	font-style: normal;
	font-weight: normal;
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	/* opacity: .8; */

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;
}

.icon,
[class*='icon-']:before {
	{$icon}
}

.icon-arrow-right:before { content: '\e800'; } /* '' */
.icon-failure:before { content: '\e801'; } /* '' */
.icon-success:before { content: '\e802'; } /* '' */
.icon-menu:before { content: '\e803'; } /* '' */
.icon-more:before { content: '\e804'; } /* '' */
.icon-octocat:before { content: '\e805'; } /* '' */
.icon-chat:before { content: '\e806'; } /* '' */
.icon-angularjs:before { content: '\e807'; } /* '' */
.icon-jquery:before { content: '\e808'; } /* '' */
.icon-backbone:before { content: '\e809'; } /* '' */
.icon-ember:before { content: '\e80a'; } /* '' */
.icon-dojo:before { content: '\e80b'; } /* '' */
.icon-sitepen-labs:before { content: '\e80c'; } /* '' */
