<% page.bodyClass = 'page-home' %>
<section class="section hero">
	<div class="container">
		<div class="columns is-tablet">
			<div class="column is-6">
				<h1 class="title is-2">You deserve some help, get an Intern</h1>
				<a href="https://github.com/theintern/intern" class="button is-primary">Download Intern from Github</a>
				<h2 class="subtitle is-6">or just run <code>npm install intern</code></h2>
			</div>
			<div class="column is-6 anim">
				<%- inline_svg("/images/intern-hero.svg") %>
			</div>
		</div>
	</div>
</section>
<section class="section">
	<div class="container">
		<div class="columns is-tablet">
			<div class="column is-6">
				<h1 class="title is-3">What can it do?</h1>
				<p>Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per.</p>
				<h2 class="title is-5">Ok, what else?</h2>
			</div>
			<div class="column is-6">

			</div>
		</div>
	</div>
</section>