<% page.bodyClass = 'page-home' %>

<div class="hero">
	<div class="columns">
		<div class="column is-6">
			<h1 class="title is-1 size-1">You deserve some help,<br> get an Intern</h1>
			<a href="https://github.com/theintern/intern" class="button is-primary is-medium">Download Intern from Github</a>
			<h2 class="subtitle is-5">or just run <code>npm install intern</code></h2>
		</div>
		<div class="column is-6">

		</div>
	</div>
</div>
