<!DOCTYPE html>
<html class="html-fixed">
	<head>
		<% include partials/head %>
		<script>var docsets = <%- JSON.stringify(docsets) %>;</script>
		<script src="doc_viewer.js"></script>

		<script src="//cdn.polyfill.io/v2/polyfill.min.js?features=fetch&callback=polyfilled" async defer></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/typescript.min.js"></script>
		<script src="//unpkg.com/markdown-it@8.3.2/dist/markdown-it.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.0/mark.min.js"></script>
	</head>
	<body class="page-docs page-secondary no-script">
		<% include partials/header %>

		<div class="columns docs-layout">
			<div class="column is-3 docs-column docs-nav">
				<aside class="menu">
					<div class="card docset-selector">
						<div class="card-header">
							<div class="card-header-title">
								<span class="project">Intern</span>
								<span class="version">3</span>
							</div>
							<a class="card-header-icon">
								<span class="icon">
									<i class="fa fa-angle-down"></i>
								</span>
							</a>
						</div>
						<div class="card-content">
							<div class="field project-selector">
								<div class="control is-expanded">
									<div class="select is-fullwidth is-primary is-small">
										<select data-select-property="project">
										</select>
									</div>
								</div>
							</div>
							<div class="field version-selector">
								<div class="control is-expanded">
									<div class="select is-fullwidth is-primary is-small">
										<select data-select-property="version">
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="field search-field has-addons">
						<div class="control is-expanded">
							<input class="input is-small" type="text" placeholder="Search">
						</div>
						<div class="control">
							<a class="button is-small" title="Clear search results">
								<span class="icon is-small"><i class="fa fa-close"></i></span>
							</a>
						</div>
					</div>

					<div class="docset-contents">
						<ul class="menu-list">
						</ul>
					</div>

					<div class="search-results">
						<ul class="menu-list">
						</ul>
					</div>
				</aside>
			</div>
			<div class="column is-9 docs-column docs-content">
				<%- contents %>
				<noscript>
					<h2>Oops, it looks like you’ve disabled JavaScript.</h2>

					<p>This document viewer uses JavaScript to load and render pages from the various Intern project repositories. Please enable JavaScript if you’d like to use it, or visit our project repositories on GitHub:
					</p>
					<ul>
						<% Object.keys(docsets).forEach(name => { %>
						<li><a href="<%- docsets[name].url %>"><%- name %></a></li>
						<% }) %>
					</ul>
				</noscript>
			</div>
		</div>

		<% include partials/footer %>

		<script>
			document.body.classList.remove('no-script');
		</script>
	</body>
</html>
