<!DOCTYPE html>
<html class="html-fixed">
	<%- include('partials/head') %>
	<body class="page-docs page-secondary">
		<%- include('partials/header') %>

		<div class="columns docs-layout">
			<div class="column is-3 docs-column docs-nav">
				<aside class="menu">
					<div class="field project-selector">
						<div class="control">
							<div class="select is-primary is-small">
							<select data-select-property="project">
							</select>
							</div>
						</div>
					</div>
					<div class="field version-selector">
						<div class="control">
							<div class="select is-primary is-small">
							<select data-select-property="version">
							</select>
							</div>
						</div>
					</div>
					<ul class="menu-list">
					</ul>
				</aside>
			</div>
			<div class="column is-9 docs-column docs-content">
				<%- contents %>
			</div>
		</div>

		<%- include('partials/footer') %>
	</body>
</html>
